[epydoc]

css                     :  doc/epydoc.css
debug                   :  yes
docformat               :  restructuredtext
exclude                 : django.*, fullhistory, dateutil
exclude_introspect      : django.*, fullhistory, dateutil
exclude_parse           : django.*, fullhistory, dateutil
external_api            :  tools/fullhistory
frames                  :  no
include_log             :  yes
inheritance             :  listed
introspect              :  yes
link                    : <a href="http://www.webcubecms.com/">Web Cube CMS</a>
name                    :  Python Merchant Gateways
output                  :  html
parse                   :  yes
private                 :  no
redundant_details       :  no
simple_term             :  yes
src_code_tab_width      :  8
verbosity               : -3

# TODO verbose                 :  1
# configfiles             :  None
# dotpath                 :  None
# exclude_introspect      : django.
# exclude_parse           :
# external_api_file       :  []
# external_api_root       :  []
# fail_on                 :  None
# graph                  :  classtree umlclasstree
# graph_font              :  None
# graph_font_size         :  None
# help_file               :  None
# include_source_code     :  yes
# list_classes_separately :  no
# load_pickle             :  no
# names                   :  ['./webcube', './simplecart', './README']
# prj_link                :  None
# prj_url                 :  None
# profile                 :  no
# pstat_files             :  []
# quiet                   :  0
# show_imports            :  no
# target                  :  '../reports/WebCube_docs/'
# top_page                :  None
